<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="{{icono}}" style="color:#2C3180;"></i>
                    </div>
                    <div>{{titulopant}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="main-card mb-2 card" style="padding: 12px;">
                        <div class="form-row">
                            <!-- <div class="col-md-5">
                                <div class="position-relative form-group">
                                    <label for="pt1_nombres">Motivo: </label>
                                    <ng-select class="mayus" [(ngModel)]="p_mop_id">
                                        <ng-option value="">Seleccionar</ng-option>
                                        <ng-option *ngFor="let itemdataMotivo of dataMotivo" [value]="itemdataMotivo.mpc_id">{{itemdataMotivo.mpc_descri}}</ng-option>
                                    </ng-select>
                                </div>
                            </div> -->
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="pt1_nombres">Tipo: </label>
                                    <ng-select class="mayus" [(ngModel)]="p_tin_id">
                                        <ng-option value="">Seleccionar</ng-option>
                                        <ng-option *ngFor="let item of dataParteTipo" [value]="item.tin_id">{{item.tin_descri}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="pt1_nombres">Sector: </label>
                                    <ng-select [(ngModel)]="p_sec_id">
                                        <ng-option value="">Seleccionar</ng-option>
                                        <ng-option *ngFor="let item of dataSector" [value]="item.sec_id">{{item.sec_descri}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="pt1_nombres">Recurso: </label>
                                    <ng-select class="mayus" [(ngModel)]="p_veh_id">
                                        <ng-option value="">Seleccionar</ng-option>
                                        <ng-option *ngFor="let itemdataVehiculo of dataVehiculo" [value]="itemdataVehiculo.veh_id">{{itemdataVehiculo.veh_nombre}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="pt1_nombres">Motivo Parte Cab: </label>
                                    <ng-select class="mayus" [(ngModel)]="p_mpc_id" (change)="loadDataParteMotivo()">
                                        <ng-option value="">Seleccionar</ng-option>
                                        <ng-option *ngFor="let item of dataParteCab" [value]="item.mpc_id">{{item.mpc_descri}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="pt1_nombres">Motivo Parte Det: </label>
                                    <ng-select class="mayus" [(ngModel)]="p_mop_id">
                                        <ng-option value="">Seleccionar</ng-option>
                                        <ng-option *ngFor="let item of dataParteMotivo" [value]="item.mop_id">{{item.mpd_descri}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="pt1_nombres">Fecha Inicio: </label>
                                    <input name="pt1_nombres" id="pt1_nombres" type="date" class="form-control" [ngModel]="p_inc_fecini | date:'yyyy-MM-dd'" (ngModelChange)="p_inc_fecini = $event">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="pt1_nombres">Fecha Fin: </label>
                                    <input name="pt1_nombres" id="pt1_nombres" type="date" class="form-control" [ngModel]="p_inc_fecfin | date:'yyyy-MM-dd'" (ngModelChange)="p_inc_fecfin = $event">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="pt1_nombres">Tipo Unidad: </label>
                                    <ng-select class="mayus" [(ngModel)]="p_uni_id">
                                        <ng-option value="">Seleccionar</ng-option>
                                        <ng-option *ngFor="let item of dataUnidad" [value]="item.uni_id">{{item.uni_descri}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="pt1_nombres">Usuario: </label>
                                    <ng-select class="mayus" [(ngModel)]="p_usu_id">
                                        <ng-option value="">Seleccionar</ng-option>
                                        <ng-option *ngFor="let item of dataUsuario" [value]="item.usu_id">{{item.usu_nomcom}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12">
                                <p class="text-left">
                                    <button class="mb-2 mr-2 btn-icon btn btn-info-mdsb" id="buscar" (click)="loadDataProceso()"><i class="pe-7s-search btn-icon-wrapper"></i>Buscar</button>
                                    <button class="mb-2 mr-2 btn-icon btn btn-info-mdsb" id="nuevoMantenimiento" (click)="incidenciaIns()"><i class="pe-7s-plus btn-icon-wrapper"></i>Nuevo</button>
                                    <button class="mb-2 mr-2 btn-icon btn btn-info-mdsb" id="editar" (click)="editarIncidencia()"><i class="pe-7s-edit btn-icon-wrapper"></i>Editar</button>
                                    <button class="mb-2 mr-2 btn-icon btn btn-info-mdsb" id="anularMantenimiento" (click)="anulaMantenimiento()"><i class="pe-7s-trash btn-icon-wrapper"></i>Anular</button>
                                    <button class="mb-2 mr-2 btn-icon btn btn-info-mdsb" id="ExportarExcel" (click)="descargaExcel()"><i class="pe-7s-attention btn-icon-wrapper"></i>Exportar Excel</button>
                                    <button class="mb-2 mr-2 btn-icon btn btn-info-mdsb" id="derivar" disabled (click)="openModalShow(derivar, 'modal-lg')"><i class="pe-7s-plus btn-icon-wrapper"></i>Derivar</button>
                                    <button class="mb-2 mr-2 btn-icon btn btn-info-mdsb" id="registrarParte" disabled (click)="registrarParte()"><i class="pe-7s-plus btn-icon-wrapper"></i>Registrar Parte</button>
                                    <button class="mb-2 mr-2 btn-icon btn btn-info-mdsb" id="cerrarIncidencia" disabled (click)="openModalShow(cerrar, 'modal-lg')"><i class="pe-7s-plus btn-icon-wrapper"></i>Finalizar</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="main-card mb-3 card">
                        <div class="card-body" id="tablaProceso">
                            <h5 class="card-title">Resultados de Busqueda &nbsp; <span id="busquedaTables" style="display: none;"><i class="fa fa-spinner fa-pulse fa-fw"></i></span></h5>
                            <div class="table-responsive" id="tablaDataProceso">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                                    <thead>
                                        <tr style="text-align: center;">
                                            <th>ID</th>
                                            <th>NRO INCIDENCIA</th>
                                            <th>FECHA INCIDENCIA</th>
                                            <th>TIPO</th>
                                            <th>MOTIVO CAB</th>
                                            <th>MOTIVO DET</th>
                                            <th>SECTOR</th>
                                            <th>RECURSO</th>
                                            <th>ESTADO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of dataProceso" style="text-align: center;">
                                            <td>{{item.inc_id}}</td>
                                            <td>{{item.inc_numero}}</td>
                                            <td>{{item.inc_fechor}}</td>
                                            <td>{{item.tin_descri}}</td>
                                            <td>{{item.mpc_descri}}</td>
                                            <td>{{item.mpd_descri}}</td>
                                            <td>{{item.sec_descri}}</td>
                                            <td>{{item.veh_nombre}}</td>
                                            <td>{{item.ine_descri}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-right">
                    <ul class="header-megamenu nav">
                        <li class="nav-item">
                            <p style="margin: 0px">Llamkasun Perú &copy; 2025</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <ng-template #derivar>
        <div class="modal-header">
            <h4 class="modal-title pull-left"> <i class="pe-7s-plus btn-icon-wrapper"> </i> Derivar Incidencia</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" id="closeModal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <label for="descrip">Gerencia: </label>
                                        <select type="text" class="form-control" [(ngModel)]="p_der_p_cec_id">
                                            <option value="">Seleccionar</option>
                                            <option *ngFor="let item of dataCentroCosto" [value]="item.cec_id">{{item.cec_descri}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <p class="text-left">
                                        <button class="mb-2 mr-2 btn-icon btn btn-info-mdsb" id="Grabar" (click)="procesaDerivacion()"><i class="pe-7s-plus btn-icon-wrapper"></i>Grabar</button>
                                        <button class="mb-2 mr-2 btn-icon btn btn-info-mdsb" id="Cancelar" (click)="modalRef.hide()"><i class="pe-7s-trash btn-icon-wrapper"></i>Cancelar</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #cerrar>
        <div class="modal-header">
            <h4 class="modal-title pull-left"> <i class="pe-7s-plus btn-icon-wrapper"> </i> Cerrar Incidencia</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" id="closeModal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <label for="descrip">Observación: </label>
                                        <textarea class="form-control" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="p_inc_descri"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <p class="text-left">
                                        <button class="mb-2 mr-2 btn-icon btn btn-info-mdsb" id="Grabar" (click)="cerrarIncidencia()"><i class="pe-7s-plus btn-icon-wrapper"></i>Grabar</button>
                                        <button class="mb-2 mr-2 btn-icon btn btn-info-mdsb" id="Cancelar" (click)="modalRef.hide()"><i class="pe-7s-trash btn-icon-wrapper"></i>Cancelar</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

</div>