<button type="button" id="recargardiv" onClick="updateDiv()" style="display: none;">R</button>
<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <!-- <div class="logo-srca"></div> -->
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
        </button>
        </span>
    </div>
    <div class="scrollbar-sidebar" id="liveScore">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading">Menu</li>
                <!-- <div [innerHtml]="menu" (click)="getRoute($event)"></div> -->
                <!-- {{menu}} -->
                <!-- <li>
                    <a [routerLink]="['patrimonio']">
                        <i class="pe-7s-next-2"></i> Patrimonio
                    </a>
                </li>
                <li>
                    <a [routerLink]="['inventario']">
                        <i class="pe-7s-next-2"></i> Inventario
                    </a>
                </li>
                <li>
                    <a [routerLink]="['reportes']">
                        <i class="pe-7s-next-2"></i> Reportes
                    </a>
                </li> -->
                <li>
                    <a [routerLink]="['bitacora']">
                        <i class="pe-7s-next-2"></i> Bitacora
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>